@import"../_variables";
@import"../_mixins";
@import"../_reset";
body{
    background-color: $body-bg;
    padding-top:40px;
    color: $dark;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    .title{
        font-size:24px;
        line-height: 33px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .bold{
        font-weight:700;
    }
    .blue-text{
        text-transform: uppercase;
        color: $active-color;
    }
    .btn{
        display:inline-block;
        padding:15px 30px;
        border-radius:5px;
        color:$white;
        font-size:16px;
        font-weight:700;
        text-align: center;
        &-primary{
            background-color: $active-color;
            border-bottom: 5px solid darken($active-color, 10%);
            &:hover{
                background-color:lighten($active-color, 2%)
            }
        }
    }
}