@import"../_variables";
@import"../_mixins";
@import"../_reset";
.carousel{
    &-item{
        position: relative;
        background-color: $white;
        height: 220px;
        padding-top:20px;
        text-align: center;
        
        h3{
            color:$active-color;
            padding:0 5px;
        }
        img{
            position: absolute;
            bottom:0;
            left:50%;
            transform: translateX(-50%);
        }
    }
    .slick-slide{
        margin: 0 15px;
        &:first-child{
            margin-left: 0;
        }
    }
}