@import"../_variables";
@import"../_mixins";
@import"../_reset";
.content{
    margin-bottom: 70px;
    
    p{
        margin-bottom: 20px;
        color:$default-text-color;
        line-height: 20px;
        &:last-of-type{
            margin-bottom: 40px;
        }
    }
}